# Data & Large Files
data/

# Python / Environment
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Jupyter Notebooks
.ipynb_checkpoints/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Model Weights and Checkpoints
models/
test_models/
*.pth
